@font-face {
    src: url(../../IMG/LEMONMILK-Bold.otf);
    font-family: LEMONMILK;
    text-align: center;
}

body {
    background-image: url("../IMG/bg2.jpg");
    background-size: 65%;
    background-position: 50%;
}

header {
    background-color: black;
    border-radius: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.mwad {
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    font-size: 20px;
}

.steps {
    float: right;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 9px;
    font-family: 'Rubik', sans-serif;
    padding: 0 25px 0 25px;
    margin-top: 110px;
    margin-left: 20px;

}

.steps:hover {
    background-color: white;
    color: black;
   font-size: 11px;
}

#lyce {
    font-family: LEMONMILK;
    text-align: center;
}
